.resetpassword {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  form {
    padding: 2em 0;
    background: $primary;
    width: 300px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .text {
      text-align: center;
      padding-bottom: 1em;
      h2 {
        color: $neutral;
        padding: 0.5em 0;
      }
    }
    .div {
      margin: 0.5em 0;
      width: 80%;
      border: 1px solid darken($color: $neutral, $amount: 20);
      background: $neutral;

      input {
        width: 90%;
        height: 30px;
        background: none;
        border: none;
        outline: none;
      }
      label {
        width: 10%;
        display: inline-block;
        text-align: center;
        color: darken($color: $neutral, $amount: 10);
      }
    }
    .div:focus,
    .div:hover {
      border: 2px solid darken($color: $neutral, $amount: 20);
    }
    button {
      margin: 1em;
      padding: 0.8em 3em;
      background: $secondary;
      border: none;
      outline: none;
      border-radius: 2em;
      color: $neutral;
    }
    button:focus,
    button:hover {
      background: $primary2;
    }
    span {
      color: $neutral;
      a {
        color: $secondary;
        text-decoration: none;
        padding: 0 1em;
      }

      a:hover,
      a:focus {
        color: $primary;
      }
    }
  }
}
