@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Yellowtail&display=swap");

// font-family: 'Yellowtail', cursive
$primary: #364f6b;
$primary2: #3fc1c9;
$secondary: #fc5185;
$neutral: #f5f5f5;

body,
html {
  padding: 0;
  margin: 0;
  background: $neutral;
}
.error {
  background: $secondary;
  width: 80%;
  text-align: center;
  margin: 1em 0;
  color: $neutral;
}
.success {
  background: $primary2;
  width: 80%;
  text-align: center;
  margin: 1em 0;
  color: $neutral;
}
.times {
  padding: 0 1em;
}
.times-none {
  display: none;
}

.loading {
  position: absolute;
  width: 100%;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  span {
    animation: div 2s ease-in-out;
    animation-iteration-count: infinite;
    background: #fc5185;
  }

  @keyframes div {
    0% {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }

    100% {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }
}
.loading-none {
  display: none;
}

.loading-opacity {
  opacity: 0;
}

*,
*::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

@import "./Component/Auth/Login/Login";
@import "./Component/Auth/Register/Register";
@import "./Component/Dashboard/Dashboard";
@import "./Component/Layout/Navbar/Navbar";
@import "./Component/Auth/ForgetPassword/forgetpassword";
@import "./Component/Auth/ResetPassword/restpassword";
