.forgetpassword {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  form {
    background: $primary;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    div {
      width: 80%;
      border: 1px solid darken($color: $neutral, $amount: 20);
      background: $neutral;

      input {
        width: 90%;
        height: 30px;
        background: none;
        border: none;
        outline: none;
      }
      label {
        width: 10%;
        display: inline-block;
      }
    }
  }
}
